@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

/* Color Palette */
$background-color:#F4FFF6;
$background-color-light-border: #eeeeee;

$primary-color: #51E1AD;
$primary-color-medium: #A4ECD2;
$primary-color-dark: #15766A;
$text-color: #696E76;
$secondary-text-color: #535152;

$primary-btn-text-color: white;

$font-size: 18px;

/* Font Styles */
$base-font-family: proxima-nova, sans-serif;
