@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

/* Color Palette */
$background-color:#F4FFF6;
$background-color-light-border: #eeeeee;

$primary-color: #84C87F;
$primary-color-medium: #039153;
$primary-color-dark: #016038;

$text-color: #696E76;
$secondary-text-color: #535152;

$primary-btn-text-color: white;

$font-size: 18px;

/* Font Styles */
$base-font-family: proxima-nova, sans-serif;
